#login-card{
    width: 450px;
    height: 350px;
    padding: 20px;
    margin: auto;
    position: absolute;
    top: 150px;
    left: 0;
    right: 50px;
    background-color: #a3cef1;
    border-radius: 10px;
    box-shadow: 20px 15px 10px rgba(0, 0, 0, 0.2);
}

.btnlogin{

    color: white;
    position: relative;
    top: 75px;
    bottom: 0;
    left: 150px;
    right: 0;
    margin: auto;

}
